
// colors
$accentColor = #449211
$textColor = #2c3e50
$borderColor = #eaecef
$blockColor = #f1f5f8
$codeBgColor = #2f2f2f
$arrowBgColor = #ccc

// code toggle styles
$codeHeading = #80cbc4

// code (don’t add `json`, it’ll break everything for some reason!)
$codeLang = js ts html md vue css sass scss less stylus go java c sh yaml py


