$accentColor = #449211

.sidebar-links a.active {
    background-color: #eee;
    font-weight: normal;
}
.sidebar-links .sidebar-sub-header a.active {
    background-color: transparent;
    font-weight: normal;
}